* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  padding-top: 2rem;
}

.logo {
  color: brown;
  font-weight: bolder;
  font-size: 1.5rem;
}

nav {
  padding-top: 2rem;
}

/* .navList {
  display: flex;
  gap: 10px;
  font-weight: bold;
  justify-content: center;
} */
.navLinks {
  color: red;
}

main {
  padding: 0 4rem;
}
.lessons {
  padding: 2rem 4rem;
}
.lessons ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-weight: bold;
}

.lessons li a {
  color: blue;
}

.lesson1_papers ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.lesson_test {
    color: green;
    font-size: 1.25rem;
    font-weight: bold;
}

.class1 {
    width: 80%;
}

#lesson1_class {
  padding-top: 4rem;
}

#lesson1_class .address{
    text-align: center;
    padding: 2rem 0;
    font-size: 4rem;
    font-weight: bold;
}
#lesson1_class .answer{
    padding: 2rem 0;
    font-size: 4rem;
    font-weight: bold;
}
#lesson1_class p {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.25rem;
}

#homework1 img {
    padding-top: 2rem;
    width: 80%;
}

#test_week1 img {
    padding-top: 2rem;
    width: 80%;
}

@media (max-width: 480px) {
  
  #lesson1_class .address{
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
}
.class1 {
  width: 100%;
}
#lesson1_class .answer{
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
}
#lesson1_class p {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.25rem;
}

#homework1 img {
    padding-top: 2rem;
    width: 100%;
}

#test_week1 img {
    padding-top: 2rem;
    width: 100%;
}
}